.hero-section {
    width: 100%;
    padding: 80px 0;
    text-align: center;
    background: #0d0d10;
    border-bottom: 1px solid #222;
    margin-bottom: 40px;
}
.hero-section h1 { font-size: 3rem; font-weight: 800; margin-bottom: 25px; }
.hero-section h1 span { color: #00ff88; }

.search-main input {
    width: 100%;
    max-width: 600px;
    padding: 18px 25px;
    background: #141418;
    border: 2px solid #222;
    border-radius: 12px;
    color: #fff;
    font-size: 1.1rem;
    outline: none;
    transition: 0.3s;
}
.search-main input:focus { border-color: #00ff88; box-shadow: 0 0 20px rgba(0,255,136,0.1); }

.updates-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto; /* Centraliza a lista de jogos */
}

.update-card {
    background: #141418;
    border: 1px solid #222;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.update-card:hover { border-color: #00ff88; transform: scale(1.02); }

.update-info-wrapper { display: flex; align-items: center; gap: 20px; }
.update-img { width: 60px; height: 60px; border-radius: 12px; object-fit: cover; }
.update-name { font-size: 1.2rem; font-weight: 700; color: #fff; }
.update-status { color: #00ff88; font-size: 0.8rem; font-weight: 800; }
.update-date { color: #444; font-weight: 700; }
